@import url("./base.css");
@import url("./layout.css");
@import url("./wheel.css");
@import url("./result.css");
@import url("./modal.css");
@import url("./probabilities.css");
@import url("./responsive.css");